@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sriracha&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Sriracha", cursive;
    font-style: normal;
}
body {
    background-color: rgb(255, 231, 180);
}

/* ************************************menu************************* */

.menu {
    background-color: rgb(255, 212, 119);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Align list items in a row */
}

.menu li {
    margin: 0 15px; /* Adjust margin between items as needed */
}

.menu a {
    text-decoration: none;
    text-shadow: 2px 2px 2px rgb(202, 202, 202);
    font-size: 24px;
    color: black;
}

.menu a:hover {
    transition: 0.2s;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* ************************************top************************ */

.top {
    height: 70vh;
    width: 100%;                                   
    background-color: rgb(255, 223, 155);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
.top .left {
    width: 35%;
    height: 80%;
    gap: 30px;
    display:flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 4vh;
}
.top .left h1 {
    font-size: 66px;
    font-weight: bold;
    color: rgb(219, 165, 47);
    text-shadow: 2px 2px 10px rgb(255, 214, 127);
}
.top .left h2 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(219, 165, 47);
    text-shadow: 2px 2px 10px rgb(255, 214, 127);
}
.top .left h3 {
    font-size: 30;
    color: rgb(219, 165, 47);
    text-shadow: 2px 2px 10px rgb(255, 214, 127);
}

.top .right {
    width: 55%;
    height: 80%;
    display:flex;
    align-items: center;
    justify-content: right;
    margin-left: 50px;
}
.top .right img {
    width: 80%;
    border-radius: 20px;
}

/* ************************************main************************* */

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainTopic {
    width: 80%;
    height: 40vh;
    padding: 10px 20px 0 20px;
}
.mainTopic p {
    text-indent: 50px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    line-height: 1.8;
}
.mainDetail {
    padding: 10px 20px 0 20px;
    width: 80%;
    height:40vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.subTopic {
    padding: 20px 20px 0 20px;
    width: 60%;
    height: 40vh;
}
.subTopic .two {
    text-indent: 30px;
}
.subDetail {
    padding: 20px;
    width: 40%;
    height: 40vh;
}
.subDetail img {
    height: 100%;
    border-radius: 25px;
    box-shadow: 2px 4px 10px black;
}

/* ************************************foot************************* */

.footer {
    height: 20vh;
    background-color: rgb(65, 65, 65);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}
.footChild ul {
    list-style-type: none;
}
.footChild ul li {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding-top: 10px;
}
.footChild ul li a:hover {
    text-shadow: 2px 2px 2px rgba(255, 255, 255);
}
.footChild ul li a {
    text-decoration: none;
    color: white;
}
.footChild ul li:nth-child(1){
    font-size: 30px;
    padding-bottom: 10px;
}